*{
    margin: 0px;
    padding: 0px;
}
.top{
    width: 100;
    height: 70px;

}
.logo{
    margin-left: 300px;
}
.main{
    width: 100;
    height: 622px;
    background: url("../images/aaa.jpg")no-repeat;
    background-position: center;
    padding-top: 25px;
    position: relative;
}
.bottom{
    width: 100;
    height: 70px;
}
#clear{
    width: 300px;
    
}
#password{
    width: 300px;
} 
#querenPassword{
    width: 300px;
}
.codeimg{
    width: 100px;
    height: 40px;
    vertical-align: top;
    margin-top: 40px;
    margin-left: 40px
}
/* .el-input{
    position: relative;
    font-size: 14px;
    display: inline-block;
} */
.el-input{
    position: relative;
    font-size: 14px;
    display: inline-block;
    margin-left:100px;
    width:300px;
    margin-top:50px;
}

#num::-webkit-input-placeholder{
    color: #c0c4cc;
    
}
#aaa{
    color: red;
}
#bbb{
    color: red;
}
#ccc{
    color: red;
}
#fff{
    color: red;
}
.register{
    margin-left: 100px;
    margin-top: 25px;
}
.findpassword{
    margin-left: 170px;
    margin-top: 25px;
}
.login{
    margin-left: 100px;
    margin-top: 50px;
    width: 300px;
}