<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>member_mail.html</title>
    <link rel="stylesheet" href="./css/member_mail.css">
    <link rel="stylesheet" href="./css/aside.css">
    
    
</head>
<body>
    <div class="aside">
        <img src="./images/logo.png" alt="">
            <ul>
                <li class="bubian"><a href="member_mail.html">邮件信息</a></li>
                <li class="bubian"><a href="member_overview.html">邮件概况</a></li>
                <li class="bian"><a href="member_forecast.html">邮件预测</a></li>
                <li class="bubian"><a href="member_setting.html">个人中心</a></li>
            </ul>
    </div>
    <div class="head"></div>
    <div class="main"></div>
</body>
</html>